body{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#aaa), to(#888));
    background-image: -webkit-linear-gradient(top, #aaa, #888);
    background-image: -moz-linear-gradient(top, #aaa, #888);
    background-image: linear-gradient(to bottom, #aaa, #888);
}